
<main>
    <div class="image">
        <img src="../../assets/culture.png" width="100%" height="400px"/>
    </div>
    <header>
        <div class="title">WHAT IS CULTURE?</div>
    </header>
    <section>
        <p>No matter where you live, you are working with and establishing with people--people who all have cultures.<br><br>
        "Culture" refers to a group or community which shares common experiences that shape the way its members understand the world. It includes groups that we are born into, such as race, national origin, gender, class, or religion. It can also include a group we join or become part of. For example, it is possible to acquire a new culture by moving to a new country or region, by a change in our economic status, or by becoming disabled. When we think of culture this broadly we realize we all belong to many cultures at once.<br><br>
        </p>
    </section>
    <!-- <ng-container *ngIf="countryList">
    <div *ngFor="let country of countryList">{{ country.name }}</div>

    </ng-container> -->

        <!-- <div *ngFor="let country of countryList">{{ country.name }}</div> -->

    <!-- <div class="culture-container">
        
            <ul *ngFor="let cultureCountry of culture?.facet_groups[1]?.facets | slice: 0:22">
                <div class="country"><h1>{{ cultureCountry.name }}</h1></div>
            </ul>
            
    </div> -->
    <div class="culture-description">
        <div *ngFor="let cultureDescription of culture?.records">
            <div class="description">
                <p class="name">{{ cultureDescription.fields.region }}</p>
                <p>{{ cultureDescription.fields.short_description }}</p>
            </div>
        </div>
    </div>
    
    <footer>
        <a href="#top">Jump to top</a>
    </footer>
    
</main>