main {
    background: radial-gradient(rgb(228, 214, 155), rgb(172, 172, 235))
}

.title {
    color: white;
    text-align: center;
    font-size: 60px;
    font-weight: 600;
}

.span {
    display: flex;
    margin-top: 20px;
    color: white;
    text-align: center;
}

.countryList {
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    /* justify-content: center;
    padding: 20px; */
    color: darkblue;
    text-decoration: none;
}

.countryList a:hover {
    color: white;
    text-decoration: none;
}

.description {
    color: darkblue;
}

.h1 {
    text-align: center;
    font-size: 40px;
    font-weight: 400;
    padding: 20px;
}