<div class="countryList" *ngFor="let country of countryList" >
  <a [routerLink]='"."' [fragment]="country.name">{{country.name}}</a>
</div>

<!-- FUNCTIONALITY: The end user is redirected to the correct spot on this page to access info on selected country -->
<div class="description" *ngFor="let country of countryList" [attr.id]='country.name' >
  <span class="one" name="countryName">{{country.name}}</span>
  <button class="learn">
    <a [routerLink]="['/culture']" fragment="{{ country.name }}">Learn {{ country.name }} History</a>
  </button>
  <button class="share">
    <a routerLink="/holidays">Share {{ country.name }} Holidays</a>
  </button>
  <img src="{{ country.image }}" width="1000px"/>
</div>



<!-- AUSTRALIA
<div class="grid-container">
  <div class="item1">
    <span class="one">Australia</span>
  </div>
  <div class="item2">
    <button class="learn">
      <a [routerLink]="['/culture']" fragment="Australia" routerLinkActive="active"
        >Learn Australia: History</a
      >
    </button>
  </div>
  <div class="item3">
    <button class="share">
      <a routerLink="/holidays" routerLinkActive="active"
        >Share Australia: Holidays</a
      >
    </button>
  </div>
  <div class="item4">
    <button class="build">Build Australia redirect</button>
  </div>
  <div class="item5">
    <img
      src="../../assets/AustraliaFlag.png"
      alt="Australia Flag"
      width="1000px"
    />
  </div>
  </div> -->

<!-- BRAZIL -->
<!-- <div class="grid-container">
  <div class="item1">
      <span class="one">Brazil</span>
  </div>
  <div class="item2">
    <button class="learn">
      <a [routerLink]="['/culture']" fragment="Brazil" routerLinkActive="active"
        >Learn Brazil: History</a
      >
    </button>
  </div>
  <div class="item3">
    <button class="share">
      <a routerLink="/holidays" routerLinkActive="active"
        >Share Brazil: Holidays</a
      >
    </button>
  </div>
  <div class="item4">
    <button class="build">Build Brazil redirect</button>
  </div>
  <div class="item5">
    <img src="../../assets/BrazilFlag.png" alt="BrazilFlag" width="1000px" />
  </div>
</div> -->

<!-- CHINA -->
<!-- <div class="grid-container">
  <div class="item1">
    <span class="one">China</span>
  </div>
  <div class="item2">
    <button class="learn">
      <a [routerLink]="['/culture']" fragment="China" routerLinkActive="active"
        >Learn China: History</a
      >
    </button>
  </div>
  <div class="item3">
    <button class="share">
      <a routerLink="/holidays" routerLinkActive="active"
        >Share China: Holidays</a
      >
    </button>
  </div>
  <div class="item4">
    <button class="build">Build China redirect</button>
  </div>
  <div class="item5">
    <img src="../../assets/ChinaFlag.png" alt="ChinaFlag" width="1000px" />
  </div>
</div> -->

<!-- EGYPT -->
<!-- <div class="grid-container">
  <div class="item1">
    <span class="one">Egypt</span>
  </div>
  <div class="item2">
    <button class="learn">
      <a [routerLink]="['/culture']" fragment="Egypt" routerLinkActive="active"
        >Learn Egypt: History</a
      >
    </button>
  </div>
  <div class="item3">
    <button class="share">
      <a routerLink="/holidays" routerLinkActive="active"
        >Share Egypt: Holidays</a
      >
    </button>
  </div>
  <div class="item4">
    <button class="build">Build Egypt United States redirect</button>
  </div>
  <div class="item5">
    <img src="../../assets/EgyptFlag.png" alt="EgyptFlag" width="1000px" />
  </div>
</div> -->

<!-- FRANCE -->
<!-- <div class="grid-container">
  <div class="item1">
    <span class="one">France</span>
  </div>
  <div class="item2">
    <button class="learn">
      <a [routerLink]="['/culture']" fragment="France" routerLinkActive="active"
        >Learn France: History</a
      >
    </button>
  </div>
  <div class="item3">
    <button class="share">
      <a routerLink="/holidays" routerLinkActive="active"
        >Share France: Holidays</a
      >
    </button>
  </div>
  <div class="item4">
    <button class="build">Build France redirect</button>
  </div>
  <div class="item5">
    <img src="../../assets/FranceFlag.png" alt="FranceFlag" width="1000px" />
  </div>
</div> -->

<!--  GERMANY -->
<!-- <div class="grid-container">
  <div class="item1">
    <span class="one">Germany</span>
  </div>
  <div class="item2">
    <button class="learn">
      <a [routerLink]="['/culture']" fragment="Germany" routerLinkActive="active"
        >Learn Germany: History</a
      >
    </button>
  </div>
  <div class="item3">
    <button class="share">
      <a routerLink="/holidays" routerLinkActive="active"
        >Share Germany: Holidays</a
      >
    </button>
  </div>
  <div class="item4">
    <button class="build">Build Germany redirect</button>
  </div>
  <div class="item5">
    <img src="../../assets/GermanyFlag.png" alt="GermanyFlag" width="1000px" />
  </div>
</div> -->

<!-- INDIA -->
<!-- <div class="grid-container">
  <div class="item1">
    <span class="one">India</span>
  </div>
  <div class="item2">
    <button class="learn">
      <a [routerLink]="['/culture']" fragment="India" routerLinkActive="active"
        >Learn India: History</a
      >
    </button>
  </div>
  <div class="item3">
    <button class="share">
      <a routerLink="/holidays" routerLinkActive="active"
        >Share India: Holidays</a
      >
    </button>
  </div>
  <div class="item4">
    <button class="build">Build India redirect</button>
  </div>
  <div class="item5">
    <img src="../../assets/IndiaFlag.png" alt="IndiaFlag" width="1000px" />
  </div>
</div> -->

<!-- ITALY -->
<!-- <div class="grid-container">
  <div class="item1">
    <span class="one">Italy</span>
  </div>
  <div class="item2">
    <button class="learn">
      <a [routerLink]="['/culture']" fragment="Italy" routerLinkActive="active"
        >Learn Italy: History</a
      >
    </button>
  </div>
  <div class="item3">
    <button class="share">
      <a routerLink="/holidays" routerLinkActive="active"
        >Share Italy: Holidays</a
      >
    </button>
  </div>
  <div class="item4">
    <button class="build">Build Italy redirect</button>
  </div>
  <div class="item5">
    <img src="../../assets/ItalyFlag.png" alt="USFlag" width="1000px" />
  </div>
</div> -->

<!-- JAPAN -->
<!-- <div class="grid-container">
  <div class="item1">
    <span class="one">Japan</span>
  </div>
  <div class="item2">
    <button class="learn">
      <a [routerLink]="['/culture']" fragment="Japan" routerLinkActive="active"
        >Learn Japan: History</a
      >
    </button>
  </div>
  <div class="item3">
    <button class="share">
      <a routerLink="/holidays" routerLinkActive="active"
        >Share Japan: Holidays</a
      >
    </button>
  </div>
  <div class="item4">
    <button class="build">Build Japan redirect</button>
  </div>
  <div class="item5">
    <img src="../../assets/JapanFlag.png" alt="JapanFlag" width="1000px" />
  </div>
</div> -->

<!-- MEXICO -->
<!-- <div class="grid-container">
  <div class="item1">
    <span class="one">Mexico</span>
  </div>
  <div class="item2">
    <button class="learn">
      <a [routerLink]="['/culture']" fragment="Mexico" routerLinkActive="active"
        >Learn Mexico: History</a
      >
    </button>
  </div>
  <div class="item3">
    <button class="share">
      <a routerLink="/holidays" routerLinkActive="active"
        >Share Mexico: Holidays</a
      >
    </button>
  </div>
  <div class="item4">
    <button class="build">Build Mexico redirect</button>
  </div>
  <div class="item5">
    <img src="../../assets/MexicoFlag.png" alt="USFlag" width="1000px" />
  </div>
</div> -->

<!-- NIGERIA -->
<!-- <div class="grid-container">
  <div class="item1">
    <span class="one">Nigeria</span>
  </div>
  <div class="item2">
    <button class="learn">
      <a [routerLink]="['/culture']" fragment="Nigeria" routerLinkActive="active"
        >Learn Nigeria: History</a
      >
    </button>
  </div>
  <div class="item3">
    <button class="share">
      <a routerLink="/holidays" routerLinkActive="active"
        >Share Nigeria: Holidays</a
      >
    </button>
  </div>
  <div class="item4">
    <button class="build">Build Nigeria redirect</button>
  </div>
  <div class="item5">
    <img src="../../assets/NigeriaFla.png" alt="NigeriaFlag" width="1000px" />
  </div>
</div> -->

<!-- PHILIPPINES -->
<!-- <div class="grid-container">
  <div class="item1">
    <span class="one">Philippines</span>
  </div>
  <div class="item2">
    <button class="learn">
      <a [routerLink]="['/culture']" fragment="Philippines" routerLinkActive="active"
        >Learn Philippines: History</a
      >
    </button>
  </div>
  <div class="item3">
    <button class="share">
      <a routerLink="/holidays" routerLinkActive="active"
        >Share Philippines: Holidays</a
      >
    </button>
  </div>
  <div class="item4">
    <button class="build">Build Philippines redirect</button>
  </div>
  <div class="item5">
    <img
      src="../../assets/PhilippinesFlag.png"
      alt="PhilippinesFlag"
      width="1000px"
    />
  </div>
</div> -->

<!-- Russia -->
<!-- <div class="grid-container">
  <div class="item1">
    <span class="one">Russia</span>
  </div>
  <div class="item2">
    <button class="learn">
      <a [routerLink]="['/culture']" fragment="Russia" routerLinkActive="active"
        >Learn Russia: History</a
      >
    </button>
  </div>
  <div class="item3">
    <button class="share">
      <a routerLink="/holidays" routerLinkActive="active"
        >Share Russia: Holidays</a
      >
    </button>
  </div>
  <div class="item4">
    <button class="build">Build Russia redirect</button>
  </div>
  <div class="item5">
    <img src="../../assets/RussiaFlag.png" alt="RussiaFlag" width="1000px" />
  </div>
</div> -->

<!-- South Korea -->
<!-- <div class="grid-container">
  <div class="item1">
    <span class="one">South Korea</span>
  </div>
  <div class="item2">
    <button class="learn">
      <a [routerLink]="['/culture']" fragment="South Korea" routerLinkActive="active"
        >Learn South Korea: History</a
      >
    </button>
  </div>
  <div class="item3">
    <button class="share">
      <a routerLink="/holidays" routerLinkActive="active"
        >Share South Korea: Holidays</a
      >
    </button>
  </div>
  <div class="item4">
    <button class="build">Build South Korea redirect</button>
  </div>
  <div class="item5">
    <img
      src="../../assets/KoreaFlag.png"
      alt="RepublicofKoreaFlag"
      width="1000px"
    />
  </div>
</div> -->

<!-- UNITED STATES -->
<!-- <div class="grid-container">
  <div class="item1">
    <span class="one">United States</span>
  </div>
  <div class="item2">
    <button class="learn">
      <a [routerLink]="['/culture']" fragment="United States" routerLinkActive="active"
        >Learn United States: History</a
      >
    </button>
  </div>
  <div class="item3">
    <button class="share">
      <a routerLink="/holidays" routerLinkActive="active"
        >Share United States: Holidays</a
      >
    </button>
  </div>
  <div class="item4">
    <button class="build">Build United States redirect</button>
  </div>
  <div class="item5">
    <img
      src="../../assets/flag-Stars-and-Stripes-July-4-1818.jpg"
      alt="USFlag"
      width="1000px"
    />
  </div>
</div> -->
