<!-- <p>main works!</p>
<div id="map"></div> -->
<body>
  <h1>
    <div id="state">Michigan</div>
    <div id="what">Culture</div>
    <div id="how">1Exchange</div>
  </h1>
  <h2>Monthly theme...</h2>
  <p>"Connecting with Michiganders"</p>

  <h3>Cultural Cities in Michigan to Explore</h3>
  <ul>
    <li>Detroit</li>
    <li>Hamtramck</li>
    <li>Grand Rapids</li>
    <!-- The list of Michigan cities -->
  </ul>

  <!-- In above section, cities will be on home page and will hyperlink to separate component with the Google map 
    image and the "learn" database -->
</body>
