body {
  background-color: rgb(221, 223, 226);
  height: 100vh;
  width: 100vw;
}

h1 {
  height: 10em;
  position: relative;
}

#state {
  font-size: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  margin-bottom: 10px;
  transform: translate(-50%, -50%);
}
#id {
  font-size: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

#what {
  font-size: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

#how {
  font-size: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

/* .title {
  height: 10em;
  position: relative;
}

h1 {
  position: absolute;
  margin: 0;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%); */
/* } */

/* #map {
    height: 500px;
    width: 500px;
} */
