<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="main.component.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@500&family=MuseoModerno:wght@700&family=Roboto+Mono:wght@300&display=swap"
      rel="stylesheet"
    />
    <title>the culture Xchange</title>
  </head>

  <body>

    <!-- nav section
    <div class="nav-section">
      <ul class="nav-links">
        <li>
          <a href="home" class="logo"
            ><img src="../../assets/images/mainLogo.png" alt="logo" height="210"
          /></a>
        </li>
        <li><a href="culture">Culture</a></li>
        <li><a href="holidays">Holidays</a></li>
        <li><a href="pen-pals">Community</a></li>
        <li>
          <a href="#"
            ><img
              class="icon-1"
              src="../../assets/images/profilebtn.png"
              alt="profile-icon"
              width="30"
          /></a>
        </li>

        <li>
          <a href="#"
            ><img
              class="icon-2"
              src="../../assets/images/searchbtn.png"
              alt="search-icon"
              width="30"
          /></a>
        </li>
      </ul>
      <Button class="country-btn">Countries</Button>

      <div class="mobile__menu">
        <input id="toggle" type="checkbox" />
        <label class="hamburger" for="toggle">
          <div class="hamburger__top"></div>
          <div class="hamburger__meat"></div>
          <div class="hamburger__bottom"></div>
        </label>
        <div class="hamburger__nav">
          <div class="hamburger__nav--wrapper">
            <nav class="hamburger__nav--items">
              
            </nav>
          </div>
        </div>
      </div>
    </div> -->

    <!-- the main section of homepage -->

    <main class="homepage-contents">

 <!-- the header section -->
 <div class="wrapper">
        
  <article>
      <h1>LEARN SHARE BUILD</h1>
      <p>Together! We are making the world a bit smaller. Every forward step
        broadens our horizon, and the horizon of those we love.
      </p>
  </article>
  

  <img class="mr-culture" src="../../assets/images/host.png" alt="man" />
</div>

<!-- the theme section -->

<div class="wrapper-2">
  <div class="video-section">
    <video playsinline autoplay muted loop poster="videoGIF.gif" id="bgvid">
      <source src="../../assets/images/india.mp4" type="video/mp4">
        video not supported
    </video>
    <div class="video-overlay">
      <p>Every month is an opportunity to discover our likeness and differences.</p>
      <button>Learn More</button>
      <h2>Monthly Theme</h2>
      <h3>July: "CELEBRATE"</h3>
      
      
    </div>
  </div>
      

<!-- call to action section -->
<div class="invite">
<h4>Join Our Community</h4>
<Button>Sign Up</Button>
</div>

   
   
    <!-- the foot section that is duplicated on every page -->
    <footer>
      <img src="../../assets/images/mainLogo.png" alt="logo" width="100px">
      <nav class="footer-nav">
        <a href="about">About</a>
        <a href="contact">Contact</a>
      </nav>
        <p>© 2020 DIVERSIFIED.CO</p>
    </footer>
 


