 <!-- the header section -->
 <div class="wrapper">
        
  <article>
      <h1>LEARN SHARE BUILD</h1>
      <p>Together! We are making the world a bit smaller. Every forward step
        broadens our horizon, and the horizon of those we love.
      </p>
  </article>
</div>

<!-- the theme section -->

<div class="wrapper-2">
  <div class="video-section">
    <video playsinline autoplay muted loop poster="videoGIF.gif" id="bgvid">
      <source src="../../assets/india.mp4" type="video/mp4">
        video not supported
    </video>
    <div class="video-overlay">
      <p>Every month is an opportunity to discover our likeness and differences.</p>
      <button>Learn More</button>
      <h2>Monthly Theme</h2>
      <h3>July: "CELEBRATE"</h3>
    </div>
  </div>
      

<!-- call to action section -->
<div class="invite">
<h4>Join Our Community</h4>
<Button>Sign Up</Button>
</div>

    <!-- the foot section that is duplicated on every page -->
    <footer>
      <img src="../../assets/mainLogo.png" alt="logo" width="100px">
      <nav class="footer-nav">
        <a href="about">About</a>
        <a href="contact">Contact</a>
      </nav>
        <p>© 2020 DIVERSIFIED.CO</p>
    </footer>
