<main>
  <!-- ngFor for monthly holiday results -->
  <h1>July 2020 Holidays</h1>

  <div class="container"> 
    <ul *ngFor="let holidaysTitle of holidays.response.holidays | slice: 0:10">
        <div class="title"><h1>{{ holidaysTitle.name }}</h1></div>
    </ul>
  </div>
    <!-- <section>
      <div class="calendar">
        <div class="holidaysName">
          <p>{{ holidays.name }}</p>
        </div>
      </div> -->
      <!-- *ngFor="let item of **ARRAY IN TS FILE**" -->
      <!-- Insert interpolation/dot notation from data we are pulling -->
      <!-- Possibly add learn more section on holidays? -->
    <!-- </section> -->
  <!-- </div> -->
</main>
