<input type="text" id="myInput" (keyup)="myFunction($event)" placeholder="Search for names.." />

<input type="button" id="getDay" (click)="getDays($event.target.value)" value="Sort by date" />
<!-- <input *ngFor="let day of holidays | sortBy: 'desc':'days'" />{{
  day.date.datetime.day
}}
type="button" id="getDay" (click)="getDays($event.target.value)" value="Sort by
date" /> -->

<!-- <div ng-show="showDays"></div> -->

<body>
  <table id="myTable">
    <tr class="header">
      <th>Date of Celebration</th>
      <th>Country of Celebration</th>
      <th>Holiday name</th>
      <th>Holiday description</th>
    </tr>
    <tr *ngFor="let holidaysTitle of holidays">
      <td>
        {{ holidaysTitle.date.iso | date }}
      </td>
      <td>{{ holidaysTitle.country.name }}</td>
      <td>{{ holidaysTitle.name }}</td>
      <td>{{ holidaysTitle.description }}</td>
    </tr>
  </table>
</body>
