<body>
  <div class="header">
    <h1>The Culture Exchange</h1>
    <br />
    <h2><i>Make a Global Connection</i></h2>
  </div>

  <div class="topnav">
    <a href=""><li>Home</li></a>
    <a href=""><li>My Account</li></a>
    <a href=""><li>Events</li></a>
    <a href=""><li>Cities</li></a>
    <a href=""><li>Search</li></a>
    <div class="right">
      <a href=""><li>The Cultivators</li></a>
      <a href=""><li>Your Memories</li></a>
      <!-- NOTE ON ABOVE: potential sub-page for saved events, calendar for holidays or notebook for learned information? -->
      <a href=""><li>Pen-Pals</li></a>
    </div>
  </div>
</body>
