<main>
  <header>
    <img class="logo" src="../../assets/tcelogo.png">
  </header>
  <nav>
    <ul class="topnav">
      <a href=""><li>Home</li></a>
      <a href=""><li>My Account</li></a>
      <a href="holidays"><li>Holidays</li></a>
      <a href="culture"><li>Culture</li></a>
      <a href=""><li>The Cultivators</li></a>
      <a href=""><li>Your Memories</li></a>
      <a href=""><li>Pen-Pals</li></a>
      <a href=""><li>Search</li></a>
    </ul>
  </nav>
  <div class="dropdown">
    <button (click)="myCountry()" class="dropbtn">Countries</button>
    <div *ngIf="showDropDown === true" id="myDropdown" class="dropdown-content">
      <a href="#">US</a>
      <a href="#">Mexico</a>
      <a href="#">France</a>
      <a href="#">Germany</a>
      <a href="#">Italy</a>
      <a href="#">S. Korea</a>
      <a href="#">Japan</a>
      <a href="#">China</a>
      <a href="#">India</a>
      <a href="#">Russia</a>
      <a href="#">Australia</a>
      <a href="#">Egypt</a>
      <a href="#">Brazil</a>
      <a href="#">Canada</a>
      <a href="#">Philippines</a>
    </div>
  </div>
</main>







<!-- <div class="topnav">
    <a href=""><li>Home</li></a>
    <a href=""><li>My Account</li></a>
    <a href="holidays"><li>Holidays</li></a>
    <a href="culture"><li>Culture</li></a>
    <a href=""><li>The Cultivators</li></a>
    <a href=""><li>Your Memories</li></a>
    <a href=""><li>Pen-Pals</li></a>
    <a href=""><li>Search</li></a>
    <div class="dropdown">
      <button (click)="myCountry()" class="dropbtn">Countries</button>
      <div *ngIf="showDropDown === true" id="myDropdown" class="dropdown-content">
        <a href="#">US</a>
        <a href="#">Mexico</a>
        <a href="#">France</a>
        <a href="#">Germany</a>
        <a href="#">Italy</a>
        <a href="#">S. Korea</a>
        <a href="#">Japan</a>
        <a href="#">China</a>
        <a href="#">India</a>
        <a href="#">Russia</a>
        <a href="#">Australia</a>
        <a href="#">Egypt</a>
        <a href="#">Brazil</a>
        <a href="#">Canada</a>
        <a href="#">Philippines</a>
      </div>
      
    </div>
  </div> -->
