/* What type of font to use? */

/* * {
  box-sizing: border-box;
}

body {
  margin: 0;
} */

/* Style the header */
.logo {
  display: flex;
  position: absolute;
  margin-left: 145px;
  margin-top: 30px;
}

/* Style the top navigation bar */
.topnav {
  background-color: #333;
  display: flex;
  position: absolute;
  /* margin-top: 110px; */
  margin: 0;
  width: 100%;
  color:white;
  justify-content: right;
}

/* Style the topnav links */
.topnav a {
  /* float: left; */
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  list-style-type: none;
}

/* Change color on hover */
.topnav a:hover {
  background-color: transparent;
  color: #47a6dd;
}

.dropbtn {
  display: flex;
  position: absolute;
  background-color: #333;
  color: #f2f2f2;
  padding: 0;
  border: none;
  background: none;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  list-style-type: none;
}

@media screen and (max-width: 1000px) {
  .topnav {
    display: none;
  }
}
