
<div class="wrapper">
    <div class="left">
        <img src="../../assets/images/Mikey.jpg" alt="user" width="100">
        <h4>Mike Syfax</h4>
         <p>Culture Ambassador</p>
    </div>
    <div class="right">
        <div class="info">
            <h3>Information</h3>
            <div class="info_data">
                 <div class="data">
                    <h4>Email</h4>
                    <p>1234@yahoo.com</p>
                 </div>
                 <div class="data">
                   <h4>Phone</h4>
                    <p>313-555-5694</p>
              </div>
            </div>
        </div>
      
      <div class="projects">
            <h3>CX Highlights</h3>
            <div class="projects_data">
                 <div class="data">
                    <h4>Recent</h4>
                    <p>Lorem ipsum dolor sit amet.</p>
                 </div>
                 <div class="data">
                   <h4>Most Viewed</h4>
                    <p>dolor sit amet.</p>
              </div>
            </div>
        </div>
      
        <div class="social_media">
            <ul>
              <li><a href=""><img src="../../assets/twitter.png" alt="Twitter icon" width="40"></a></li>
              <li><a href="#"><img src="../../assets/facebook.png" alt="facebook icon" width="35"></a></li>
              <li><a href="#"><img src="../../assets/ig.png" alt="Instagram icon" width="38"></a></li>
          </ul>
      </div>
    </div>
</div>
